@import "tailwindcss";
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(243, 184, 255, 0.87);
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #fff2eb;
  text-decoration: none;
  transition: color 0.3s;
}
a:hover {
  color: #ff5500;
}

body {
  margin: 0;
  min-width: 320px;
  color: rgba(255, 231, 220, 0.87);
  background-color: #000000;
}

h1,h2,h3,h4,h5,h6  {
  font-weight: 600;
  margin-bottom: 0.5em;
}

button {
  border-radius: 4px;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #3f0088;
  color: #e5cfff;
  cursor: pointer;
  transition: background-color 0.3s;
}
button:hover {
  background-color: #e5cfff;
  color: #3f0088;
}
button:focus,
button:focus-visible {
  outline: 3px auto solid #ffffff55;
}

section{
  margin-top: 2rem;
  margin-bottom: 2rem;
}
::-webkit-scrollbar{
  width: 8px;
}
::-webkit-scrollbar-track{
  background: #111;
}
::-webkit-scrollbar-thumb{
  background-color: #3f008855;
  border-radius: 4px;
}